
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
  background: #50a3a2;
  place-content: center;
  min-height: 100vh;
  font-size: 5rem;
  display: grid;
  width: 100%;
  height: 100%;
}

input,
button {
  font: inherit;
  padding: 0.5rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

input {
  font-family: "Source Sans Pro", sans-serif;
  color: #50a3a2;
  background: white;
  font-weight: 300;
  text-align: center;
  max-width: 2.5em;
}


button {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #50a3a2;
  border-radius: 3px;
  width: 250px;
  font-size: 2rem;
  margin: 0.5em 0 0.5em 0.5em;
}

header{
  font-size: 3rem;
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 5rem;

}

p{
  font-size: 5rem;
}